* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  }

.container{
  width: 100%;
  height: auto;
}
.navbar{
  width: 100%;
  height: 60px;
  background-color: #e65100;
  margin-top: -1px;
}
.navbar ul{
  margin-left: 68%;
}
.navbar ul li{
  margin-top: 10px;
  display: inline-flex;
  line-height: 80px;
}
.navbar ul li a{

  text-decoration: none;
  font-family: sans-sans-serif;
  color: #000;
}
.navbar ul li a:hover{
  color: #fff;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Arial, sans-serif;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fotografer.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  font size: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main{
  width: 100%;
  height: 630px;
  background-image: url('../img/fotografer3.jpg');
}
.main p{
  text-align: center;
  color: #fff3e0;
}
.main2{
  margin-top: 250px;
  text-align: center;
  color: #fff3e0;
}
.container2 {
  width: 100%;
}
.skills {
  margin-left: 10px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html {width: 75%; background-color: #e65100;}
.photoshop {width: 70%; background-color: #ff9800;}
.css {width: 65%; background-color: #ffcc80;}
.js {width: 50%; background-color: #ffc107;}
